
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f7091;
}

header {
    background: #131414;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #f1e8e8;
    text-align: center;
    padding: 10px 0;
    
}

